#danbau{
 color: darkorange;
}
#khainiem{
    color: aliceblue;
}
#lichsu{
    color: aliceblue;
}
#phanloai{
    color: aliceblue;
}
#cautao{
    color: aliceblue;
}
#tntd{
    color: aliceblue;
}
#cachchoi{
    color: aliceblue;
}